@font-face {
  src: url('/static/fonts/digital-7.ttf') format("truetype"); 
  font-family: Digital-7;
}

.content--wrap {
  background: url("../../images/bg-pattern.png"), #D46A6A;
  background: url("../../images/bg-pattern.png"), -webkit-linear-gradient(to right, #D46A6A, #FFAAAA);
  background: url("../../images/bg-pattern.png"), linear-gradient(to right, #D46A6A, #FFAAAA);*
  background-color: linear-gradient(to right, #D46A6A, #FFAAAA);

}

.dialog{
  border-radius: 15px;
}

.hidden-sm-and-down {
  font-family: Digital-7;
}

.titlename {
  font-family: Digital-7;
}

.application .theme--light.toolbar, .theme--light .toolbar{
  color: white;
  background: url("../../images/triangles.png"), #D46A6A;
  background: url("../../images/triangles.png"), linear-gradient(to right, #D46A6A, #FFAAAA);
  background-color: linear-gradient(to right, #D46A6A, #FFAAAA);
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.btn__content:before{
  background: url("../../images/bg-pattern.png"), linear-gradient(to left, #D46A6A, #FFAAAA);
  background-color: linear-gradient(to right, #D46A6A, #FFAAAA);
  opacity: .45;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';

} 

.close .btn__content:before{
  opacity: .45;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';

} 

.btn--active .btn__content:before, .btn:focus .btn__content:before, .btn:hover .btn__content:before{
  color: white; 
  background: url("../../images/triangles.png"),  #D46A6A;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.btn--active .btn__content:before, .btn:focus .btn__content:before, .btn:hover .btn__content:before .close{
  color: white; 
   font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.primary--text input, .primary--text textarea {
  caret-color: #550000 !important;
}

.application .theme--light.toolbar, .theme--light .toolbar .white{
  color: white;
  background: url("../../images/triangles.png"), rebeccapurple;
}

.greet {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  color: white;
  font-weight: 400;
  font-size: 64px;
}
/*.toolbar__title {
  font-family: Digital-7;
}
*/
