body, html {
    background-color: gray;
    height: 100%;
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#subscriber {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 92%;
    z-index: 10;
    top: 59px;
   
    border: 1px solid white;
}

#publisher {
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 25px;
    left: 10px;
    z-index: 100;
    border: 1px solid white;
    border-radius: 3px;
}

.videoarea {
    width: 100%;
}

.container{
    max-width: 300px;
    padding: 10px;
}

.otherusername {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    height: 35px;
    padding-bottom: 10px;
    padding-top: 10px;

}
.application .theme--light.v-list, .theme--light .v-list {
   padding-top: 0%; 
   background: transparent;
}
.chatname {
    padding-top: -7px;
    /* background: white; */
}
.favorite {
    padding-left: 30px;
    color: white;
    
}
.truefavorite {
    padding-left: 10px;
    font-size: 12px;
    text-align: left;
}
.notfavorite {
    padding-left: 15px;
    font-size: 12px;
}
.iconfave{
    font-size: 12px;
    padding-left: 15px;
}
.favebtn {
    padding-left: 15px;
}
.questions {
    padding-top: 60px;
}
.timedisplay {
    padding-left: 125px;
    color: grey;
}