[v-cloak] {
  display: none;
}

@font-face {
  src: url('/static/fonts/digital-7.ttf') format("truetype"); 
  font-family: Digital-7;
}

@font-face {
  src: url('/static/fonts/BebasNeue-Regular.ttf') format("truetype"); 
  font-family: BebasNeue;
}

@font-face {
  src: url('/static/fonts/CODE Bold.ttf') format("truetype"); 
  font-family: Code;
}

.v-content__wrap {
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.v-toolbar__content {
  color: white;
  background: url(/static/images/triangles.png), #170733;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn--active:before .v-btn:focus:before, .v-btn:hover:before .v-toolbar__content {
  color: white;
  background: url("/static/images/triangles.png"), #5680ea;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn:before {
  color: #5680ea;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.application .theme--light.toolbar, .theme--light .toolbar{
  color: white;
  background: url(/static/images/triangles.png), #21000c;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn__content:before{
  background: url("/static/images/bg-pattern.png"), linear-gradient(to left, #D46A6A, #FFAAAA);
  background-color: linear-gradient(to right, #D46A6A, #FFAAAA);
  opacity: .45;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';

} 


.btn {
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 15px;
 }

 .btn2 {
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
 }


.btn:hover {
  background-position: right center; /* change the direction of the change here */
}


.btn-2 {
  background-image: linear-gradient(to left, #84ceeb, #96cced, #a7caec, #b5c9e9, #c1c8e4);
}


.btn-1 {
  background-image: linear-gradient(to right, #84ceeb, #96cced, #a7caec, #b5c9e9, #c1c8e4);
}

.v-toolbar__title {
  font-size: 20px;
}

.dialog{
  border-radius: 15px;
}

.hidden-sm-and-down {
  font-family: Digital-7;
}

.titlename {
  font-family: Digital-7;
}


.close .v-btn__content:before{
  opacity: .45;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';

} 

.button .v-btn .v-btn--flat .v-btn--round::before {
  color: #5680ea; 
  background: url("/static/images/triangles.png"),  #D46A6A;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn--active .v-btn__content:before, .v-btn:focus .v-btn__content:before, .v-btn:hover .v-btn__content:before{
  color: #5680ea; 
  background: url("/static/images/triangles.png"),  #D46A6A;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn--active .v-btn__content:before, .v-btn:focus .v-btn__content:before, .v-btn:hover .v-btn__content:before .close{
  color: #5680ea; 
   font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.primary--text input, .primary--text textarea {
  caret-color: #550000 !important;
}

.application .theme--light.toolbar, .theme--light .toolbar .white{
  color: white;
  background: url("/static/images/triangles.png"), #543771;
}

.gotalk {
  background-image: linear-gradient(to right, #3b1481, #07348f, #004894, #005892, #06668c);
}

.theme--light .v-navigation-drawer {
  background-image: linear-gradient(to left, #c1c9f2, #c3d0f4, #c6d6f6, #cadcf7, #cfe2f8);
}


.greet {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  color: #15063c;
  font-weight: 400;
  font-size: 64px;
}
.avatarimage{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.username{
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 15px;
  text-align: center;
}
.supportdetails{
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 11px;
  color: #550000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;  
}

.mychanneltitle{
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 14px;
  color: #550000; 
  text-transform: uppercase;  
}

.myfriendstitle{
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 12px;
  color: #550000;   
}


img {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}


.v-badge__badge{
  font-size: 10px;
}

.v-badge--overlap.v-badge--bottom .v-badge__badge {
  bottom: 0px;
}
.v-badge--overlap .v-badge__badge {
  right: 22px;
}
.v-badge__badge {
  height: 14px;
  width: 14px;
}


.description {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: auto;
    overflow: auto;
    color: black;
    transition: .5s all;


}
.description:hover{
  opacity: 1;
  background: #2b036d1a;
  
}

.name {
    position: absolute;
    width: 100%;
    opacity: 0;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    transition: .7s all;


}

.name:hover{
  opacity: 1;
  background: #2b036d1a;
  border-radius: 200px;
  text-align: center;
  
}

.title {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  padding-top: 20px;
  color: #2e2242;
  font-weight: bolder;
  text-transform: uppercase;
}

.favoritebtn {
  background: transparent;
}

.question {
  width: 280px;
  height: 810px;
}

.questionlists {
  background-color:  #F9B6BC;
}@font-face {
  src: url('/static/fonts/digital-7.ttf') format("truetype"); 
  font-family: Digital-7;
}

@font-face {
  src: url('/static/fonts/BebasNeue-Regular.ttf') format("truetype"); 
  font-family: BebasNeue;
}

@font-face {
  src: url('/static/fonts/CODE Bold.ttf') format("truetype"); 
  font-family: Code;
}

.v-content__wrap {
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.v-toolbar__content {
  color: white;
  background: url(/static/images/triangles.png), #170733;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn--active:before .v-btn:focus:before, .v-btn:hover:before .v-toolbar__content {
  color: white;
  background: url("/static/images/triangles.png"), #5680ea;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn:before {
  color: #5680ea;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.application .theme--light.toolbar, .theme--light .toolbar{
  color: white;
  background: url(/static/images/triangles.png), #21000c;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn__content:before{
  background: url("/static/images/bg-pattern.png"), linear-gradient(to left, #D46A6A, #FFAAAA);
  background-color: linear-gradient(to right, #D46A6A, #FFAAAA);
  opacity: .45;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';

} 


.btn {
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 15px;
 }

 .btn2 {
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
 }


.btn:hover {
  background-position: right center; /* change the direction of the change here */
}


.btn-2 {
  background-image: linear-gradient(to left, #84ceeb, #96cced, #a7caec, #b5c9e9, #c1c8e4);
}


.btn-1 {
  background-image: linear-gradient(to right, #84ceeb, #96cced, #a7caec, #b5c9e9, #c1c8e4);
}

.btn-3 {
  background-image: linear-gradient(to right, #c1c9f2, #c3d0f4, #c6d6f6, #cadcf7, #cfe2f8);
}

.dialog{
  border-radius: 15px;
}

.hidden-sm-and-down {
  font-family: Digital-7;
  position: fixed;
}

.titlename {
  font-family: Digital-7;
}


.close .v-btn__content:before{
  opacity: .45;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';

} 

.button .v-btn .v-btn--flat .v-btn--round::before {
  color: #5680ea; 
  background: url("/static/images/triangles.png"),  #D46A6A;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn--active .v-btn__content:before, .v-btn:focus .v-btn__content:before, .v-btn:hover .v-btn__content:before{
  color: #5680ea; 
  background: url("/static/images/triangles.png"),  #D46A6A;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.v-btn--active .v-btn__content:before, .v-btn:focus .v-btn__content:before, .v-btn:hover .v-btn__content:before .close{
  color: #5680ea; 
   font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.primary--text input, .primary--text textarea {
  caret-color: #550000 !important;
}

.application .theme--light.toolbar, .theme--light .toolbar .white{
  color: white;
  background: url("/static/images/triangles.png"), #543771;
}

.gotalk {
  background-image: linear-gradient(to right, #3b1481, #07348f, #004894, #005892, #06668c);
}

.theme--light .v-navigation-drawer {
  background-image: linear-gradient(to left, #c1c9f2, #c3d0f4, #c6d6f6, #cadcf7, #cfe2f8);
}


.greet {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  color: #15063c;
  font-weight: 400;
  font-size: 64px;
}
.avatarimage{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.username{
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 15px;
  text-align: center;
}
.supportdetails{
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 11px;
  color: #550000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;  
}

.mychanneltitle{
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 14px;
  color: #550000; 
  text-transform: uppercase;  
}

.myfriendstitle{
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 12px;
  color: #550000;   
}


img {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}


.v-badge__badge{
  font-size: 10px;
}

.v-badge--overlap.v-badge--bottom .v-badge__badge {
  bottom: 0px;
}
.v-badge--overlap .v-badge__badge {
  right: 22px;
}
.v-badge__badge {
  height: 14px;
  width: 14px;
}


.description {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: auto;
    overflow: auto;
    color: black;
    transition: .5s all;


}
.description:hover{
  opacity: 1;
  background: #f9f8f97d;
  
}

.name {
    position: absolute;
    width: 100%;
    opacity: 0;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    transition: .7s all;
}

.name:hover{
  opacity: 1;
  background: #2b036d1a;
  border-radius: 200px;
  text-align: center;
  
}

.title {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  padding-top: 20px;
  color: #2e2242;
  font-weight: bolder;
  text-transform: uppercase;
}

.favoritebtn {
  background: transparent;
}

.question {
  width: 280px;
  height: 810px;
}

.questionlists {
  background-color:  #F9B6BC;
}
.myquestion {
  font-family: 'Catamaran', 'Arial', 'sans-serif';
  font-size: 15px;
  color: #280004;   
  text-align: right;
}

.otherquestion {
  font-family: 'Catamaran', 'Arial', 'sans-serif';
  font-size: 15px;
  color: #280004;   
  text-align: left;
}

.othermessage{
  background-color: #B79396;
}

.onlinenumber {
  height: 20px;
}

/*.v-list iconlist{
  background-color: maroon;
}
*//*.toolbar__title {
  font-family: Digital-7;
}
*/
