{% extends 'minutetalk/home.html' %} {% block content %}
<v-content>
    <v-container fluid grid-list-xl>
        <v-btn icon small>
            <v-icon dark left>arrow_back</v-icon>
        </v-btn>
        <v-flex xs12 sm6 md3>
            <v-text-field class="ml-2" label="Search..." append-icon="search" @click:append="() => (openSearch = !openSearch)" hide-details dark></v-text-field>
        </v-flex>
        <template>
            <v-layout row wrap style="padding-left: 25%; padding-right: 25%;">
                <v-flex xs12 class="text-xs-center">
                    <v-card width="100%">
                        <v-card-media height="200px" src="/media/{{ channel.img_src }}">
                        </v-card-media>
                        <v-card-title primary-title class="justify-center">
                            <div class="text-xs-center">
                                <h3 class="headline mb-0 ">{{ channel.title}}</h3>
                            </div>
                        </v-card-title>
                        <v-card-text>
                            {{ channel.description}}}
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout row wrap>
 <!--                <v-flex d-flex xs10 sm3 v-for="(item, key) in user.myfriends">
                    <div>
                        <v-list-tile-avatar size="200px">
                            <img :src="item.avatar">
                            <p class="name">[[item.title]]</p>
                        </v-list-tile-avatar>
                        <v-btn round>Talk!</v-btn>
                    </div>
                </v-flex> -->
            </v-layout>
        </template>
    </v-container>
</v-content>
{% endblock %}