{% extends 'minutetalk/home.html' %} {% block content %} {% load static %}
<v-content>
    <v-container fluid grid-list-xl>
        <v-flex xs12 sm6 md3>
            <v-text-field class="" ref="search" label="Search..." append-icon="search"  v-model="channel_search" hide-details color="indigo"></v-text-field>
        </v-flex>
        <template v-if="!channel_search.trim()">
            {% for channeltype in channels_list%}
            <v-spacer>
                <h1 class="title">{{channeltype.name}}</h1></v-spacer>
            <v-layout row wrap>
                {% for channel in channeltype.channel_set.all %}
                <v-flex d-flex xs10 sm3>
                    <v-card hover>
                        <v-card-media height="200px" src="/media/{{ channel.img_src }}">
                            <v-card-text class="description">
                                {{ channel.description}}
                            </v-card-text>
                        </v-card-media>
                        <v-card-title primary-title>
                            <div>
                                <h3 class="headline mb-0">{{ channel.title}}</h3>
                                <span>There are {{channel.current_channel.all| length}} users online</span>
                            </div>
                        </v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn class="btn2 btn-3" href="{% url 'minutetalk:join_channel' channel.id %}">Join</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
                {% endfor %}
            </v-layout>
            {% endfor %}
        </template>
        <div v-if="channel_search.trim()">
            <template>
                <v-spacer>
                    <h1 class="title">Search Result</h1>
                </v-spacer>
                <v-layout row wrap>
                    <v-layout align-center justify-center row fill-height v-if="!channel_result.length">
                        <h2 class="result"> No results found.</h2>
                    </v-layout>
                    <v-flex d-flex xs10 sm3 v-for="channel in channel_search_result" :key="channel.id">
                        <v-card>
                            <v-card-media :src="'/media/' + channel.src" height="200px" width="25%">
                                <v-card-text class="description">
                                    [[channel.description]]
                                </v-card-text>
                            </v-card-media>
                            <v-card-title primary-title>
                                <h3 class="headline mb-0">[[channel.title]]</h3>
                            </v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="btn2 btn-3" :href="channel.id.toString()">Join</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </template>
        </div>
    </v-container>
</v-content>
{% endblock %}