{% extends 'minutetalk/home.html' %}

{% block content %}
<v-content>
  <v-container fluid grid-list-xl>
  	<v-flex xs12 sm6 md3 ><v-text-field  class="ml-2" label="Search..." append-icon="search" @click:append="() => (openSearch = !openSearch)" hide-details dark></v-text-field></v-flex>
  	<template v-for="(item, key) in display">
  		{% for channeltype in channels_list%}
      		<v-spacer><h1>{{channeltype.name}}</h1></v-spacer>
           	<v-layout row wrap>
      		{% for channel in channeltype.channel_set.all %}
	          	<v-flex d-flex xs10 sm3>
		          	<v-card>
				        <v-card-media
				          height="200px"
				          src="/media/{{ channel.img_src }}"
				        >
			        	<v-card-text class="description">
				            {{ channel.description}}}
				        </v-card-text>
				        
				        </v-card-media>

				  

				        <v-card-title primary-title>
				          <div>
				            <h3 class="headline mb-0">{{ channel.title}}</h3>
				            <span>There are 0 users online</span>
				          </div>
				        </v-card-title>

				        <v-card-actions>
				          <v-btn flat color="red">Join Channel</v-btn>
				        </v-card-actions>

				          
			      	</v-card>
			    </v-flex>
      		{% endfor %}
			</v-layout>
      	{% endfor %}

  		

	</template>
  </v-container>
</v-content>
{% endblock %}