<!DOCTYPE html>
<html>
<head>
  
  <title>MinuteTalk</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link href="../../static/minutetalk/css/stream.css" rel="stylesheet" type="text/css">
  <link href="../../static/minutetalk/css/style.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
</head>
<body>
    <div id="app">
        <v-app id="inspire">
          <v-navigation-drawer
            fixed
            :clipped="$vuetify.breakpoint.mdAndUp"
            app
            v-model="drawer" class=drawer>
            <v-list dense>
            	<v-spacer></v-spacer>
              <v-avatar size="80px"  class="avatarimage">
                <img src="/media/{{ request.user.userprofile.img_src }}">
              </v-avatar>
              <v-spacer class="username">{{request.user.first_name}} {{request.user.last_name}}</v-spacer>
              <v-spacer class="supportdetails">{{request.user.userprofile.gender}}, {{request.user.userprofile.age}}</v-spacer>
			  <v-subheader>MY CHANNELS</v-subheader>
			  <template v-for="(item, index) in user.mychannels">
			  	<v-list-tile :key="item.title" ripple @click="">
			  		<v-list-tile-avatar size="30px">
                		<img :src="item.avatar">
              		</v-list-tile-avatar>
	              	<v-list-tile-content>
	                	<v-list-tile-title class="mychanneltitle">[[item.title]]</v-list-tile-title>
	              	</v-list-tile-content>
              	</v-list-tile>
			  </template>
			    <v-divider class="divide"></v-divider>
			    <v-subheader>MY FAVORITED FRIENDS</v-subheader>
			  <template v-for="(item, index) in user.myfriends">
			  	<v-list-tile :key="item.title" ripple @click="">
						<!-- check here if online -->
						<v-badge color="green" bottom overlap >
								<v-icon class="checker"
								slot="badge"
								dark
								style="font-size: 10px"
							>done</v-icon>
							<!-- until here ang pagpagawas sa online -->
							<v-list-tile-avatar size="30px">
								<img :src="item.avatar">	
							</v-list-tile-avatar>
						</v-badge>
									<v-list-tile-content>
	                	<v-list-tile-title class="myfriendstitle">[[item.title]]</v-list-tile-title>
	              	</v-list-tile-content>
              	</v-list-tile>
			  </template>
				        
            </v-list>
          </v-navigation-drawer>
          <v-toolbar
            color="blue darken-3"
            dark
            app
            :clipped-left="$vuetify.breakpoint.mdAndUp"
            fixed>
            <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
              <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
              <span class="hidden-sm-and-down">MinuteTalk</span>
            </v-toolbar-title>
           
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon>notifications</v-icon>
            </v-btn>
            <v-menu 
            v-model=menupopout
            :close-on-content-click="false"
            :nudge-width="50"
            offset-y>
	            <v-btn 
	            icon 
	            slot="activator">
	              <v-avatar size="32px" >
	                <img
	                  src="/media/{{request.user.userprofile.img_src}}"
	                  alt="Avatar"
	                >
	              </v-avatar>	
	          	</v-btn>
	          	<v-card class=usericonright>
	          		<v-list>
	          			<v-list-tile avatar>
	          				<v-list-tile-avatar>
	          					<img
				                  src="/media/{{request.user.userprofile.img_src}}"
	                			>
	          				</v-list-tile-avatar>
	          				<v-list-tile-content>
	          					<v-list-tile-title>{{request.user.first_name}} {{request.user.last_name}}</v-list-tile-title>
	          					<v-list-tile-sub-title>{{request.user.userprofile.gender}},{{request.user.userprofile.age}}</v-list-tile-sub-title>
	          				</v-list-tile-content>
	          				</v-list-tile-action>
	          			</v-list-tile>
	          		</v-list>
	          		<v-divider></v-divider>
	          		  <v-spacer></v-spacer>
	          			<v-list class="v-list iconlist">
			                	<v-list-tile v-for="(item, index) in iconlist" :key="index" ripple @click="dropdown(item.title)">
			                		<v-list-tile-action>
          								<v-icon>[[item.icon]]</v-icon>
       								 </v-list-tile-action>
			                  		<v-list-tile-title>[[item.title]]</v-list-tile-title>
			                	</v-list-tile>
                		</v-list>

	          	</v-card>
	          	
      		</v-menu>
          </v-toolbar>

          {% block content %}
          {% endblock %}

        </v-app>
      </div>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
 <script type="text/javascript" src="{% static 'minutetalk/js/home.js' %}"></script>


</body>
</html>