{% extends 'minutetalk/home.html' %} {% block content %} {% load static %}
<v-content>
    <v-container class="videoarea" fluid fill-height>
        <div id="videos">
            <div id="subscriber">
                <div id="videoDisplay">
                    <h1 id="questionText"></h1>
                    <div id="ratingDisplay">
                        <p> {{partner}} finished answering. Please rate {{partner}}'s answer</p>
                        <i id="thumbs-up" class="fa fa-thumbs-up"></i>
                        <i id="thumbs-down" class="fa fa-thumbs-down"></i>
                    </div>
                    <div id="rateResult">
                        <p> {{partner}} rated your answer: </p>
                    </div>
                </div>
            </div>
            <div id="publisher"></div>
            <v-list>
                <v-list-tile two-line class="chatname">
                    <v-list-tile-avatar size="40px">
                        <img src="{{partner.img_src.url}}">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title class="otherusername">{{partner}}</v-list-tile-title>
                    </v-list-tile-content>
                    <button onclick="vue.alertDisconnect=true"> DISCONNECT</button>
                    <button onclick="toogleVideo()">Disable Video</button>
                    <select id="filter">
                        <option value="none">None</option>
                        <option value="grayscale">Grayscale</option>
                        <option value="sepia">Sepia</option>
                        <option value="invert">Invert</option>
                    </select>
                </v-list-tile>
            </v-list>
            <v-spacer></v-spacer>
        </div>
        <v-container class="questions">
            <div class="pie degree" style="margin-left: 150px;">
                <span class="block"></span>
                <span id="time">5</span>
            </div>
            <div class="question">
                <v-navigation-drawer style="width: 100%">
                    <v-list class="questionlist" two-line>
                        <v-subheader>MY QUESTIONS</v-subheader>
                        <div id="questionList">
                            {% for question in questions_list%}
                            <v-list-tile id="{{question.id}}" ripple onclick="sendQuestion('{{question.text}}','{{question.id}}')">
                                <v-list-tile-content>
                                    <p class="myquestion">{{question.text}}</p>
                                </v-list-tile-content>
                                <v-list-tile-avatar size="38px">
                                    <img src="{{user.userprofile.img_src.url}}">
                                </v-list-tile-avatar>
                            </v-list-tile>
                            {% endfor %}
                        </div>
                        <v-divider></v-divider>
                        <v-subheader>CURRENT QUESTION</v-subheader>
                        <v-list-tile v-if="question" two-line>
                            <v-list-tile-content>
                                <v-list-tile-title class='myquestion'> [[question.text]] </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-navigation-drawer>
            </div>
        </v-container>
    </v-container>
</v-content>
<v-dialog v-model="disconnect" persistent width="600">
    <v-card>
        <v-card-text style="padding-top: 0px; padding-bottom: 0px;">
            <v-list two-line class="calleeinfo" style="padding-top: 15px;">
                <v-list-tile class="calleedetails" style="padding-left: 0px;">
                    <v-list-tile-avatar size="50px">
                        <img src="{{partner.img_src.url}}">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>Your call with {{partner}} has been disconnected.</v-list-tile-title>
                        <v-list-tile-sub-title>Don't worry! There are other people back on the channel.</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat color="indigo darken-4" onclick="redirect()">
                    RETURN TO CHANNEL
                </v-btn>
            </v-card-actions>
        </v-card-text>
    </v-card>
</v-dialog>
<v-dialog persistent v-model="alertDisconnect" width="400">
    <v-card>
        <v-avatar size="80px" class="imagecenter">
            <img src="https://i.ytimg.com/vi/V3M0IWsE8pU/maxresdefault.jpg">
        </v-avatar>
        <v-card-text style="padding-top: 0px; padding-bottom: 0px;">
            <v-list two-line class="calleeinfo">
                <v-list-tile class="calleedetails" style="padding-left: 0px;">
                    <v-list-tile-content style="text-align: center;">
                        <v-list-tile-title style="text-align: center;">Are you sure you want to disconnect?</v-list-tile-title>
                        <v-list-tile-sub-title>{{user.name}} is going to miss you.</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <v-card-actions class="buttons">
                <v-btn flat color="indigo darken-4" onclick="disconnect()">
                    YES
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn flat color="red darken-4" @click="alertDisconnect = false">
                    NO
                </v-btn>
            </v-card-actions>
        </v-card-text>
    </v-card>
</v-dialog>
{% endblock %} {% block js %}
<!-- <script type="text/javascript" src="{% static 'minutetalk/js/filter.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'minutetalk/js/publish.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'minutetalk/js/app.js' %}"></script> -->
<script>
var apiKey = '{{ apikey }}'
var sessionId = '{{ session_id }}'
var token = '{{ token }}'
var partner_id = '{{ partner.id }}'
var channel_id = '{{channel_id}}'

var endpoint = 'ws://' + window.location.host + '/videochat/' + sessionId;
var socket = new WebSocket(endpoint)
var disableButton = false
var answeredQuestion = false

var video = true;

var session = OT.initSession(apiKey, sessionId);
var publisher;

window.onload = function() {
    socket.onmessage = function(e) {
        var data = JSON.parse(e.data)['message']
        if (data['type'] == 'message') {
            if (data['receiver'] == '{{request.user.userprofile.id}}') {
                if (!answeredQuestion) {
                    displayQuestion(data, 'YOUR')
                    totaltime = 5
                    setTimeout(function() {
                        console.log('start time')
                        starttime()
                        setTimeout(function() {
                            answeredQuestion = true
                            displayTimeEnd()
                            setTimeout(function() {
                                console.log('partner rate me now')
                                sendRating('rating', partner_id, data['done'], null)
                            }, 2000);
                        }, totaltime * 1000);
                    }, 4000);
                } else {
                    sendDone()
                }
            } else {
                displayQuestion(data, '{{partner}}')
            }
        } else if (data['type'] == 'rating') {
            if (data['receiver'] == '{{request.user.userprofile.id}}') {
                console.log('rating....')

                // display rate button
                // after i rated, send rating
                document.getElementById("thumbs-up").onclick = function() { sendRating('rateResult', partner_id, data['done'], true) };
                document.getElementById("thumbs-down").onclick = function() { sendRating('rateResult', partner_id, data['done'], false) };

                document.getElementById('videoDisplay').style.display = 'block'
                document.getElementById('ratingDisplay').style.display = 'block'
                // put onclick function of like button sendRating('rateResult', partner_id, data['done'], rating)
            }

        } else if (data['type'] == 'rateResult') {
            if (data['receiver'] == '{{request.user.userprofile.id}}') {
                // data['rating']
                document.getElementById('questionText').style.display = 'none'
                var el = document.getElementById('rateResult')
                var icon = document.createElement('i');
                el.style.display = 'block'
                if (data['rating']) {
                    icon.className = "fa fa-thumbs-up"
                    icon.style.color = "blue"
                } else {
                    icon.className = "fa fa-thumbs-down"
                    icon.style.color = "red"
                }
                el.appendChild(icon)


                console.log('{{partner}} rated your question', data['rating'])

                setTimeout(function() {
                    el.style.display = 'none'
                    if (!data['done']) {
                        sendMessage(vue.question.text, true)
                    } else {
                        sendDone()
                    }
                }, 2000)
            }

        } else if (data['type'] == 'question_answered') {
            console.log("Question is already answered")
            document.getElementById('videoDisplay').style.display = 'none'
            answeredQuestion = false
            disableButton = false
            document.getElementById('questionList').style = "opacity:1"
        } else if (data['type'] == 'disconnect') {
            session.disconnect();
            vue.disconnect = true
        }
    }
    socket.onopen = function(e) {
        console.log("open", e)
    }
    socket.onerror = function(e) {
        console.log("error", e)
    }
    socket.onclose = function(e) {
        console.log("close", e)
    }
}


// display on top of video
function displayTimeEnd() {
    var display = document.getElementById('videoDisplay')
    var text = document.getElementById('questionText')
    display.style.display = "block"

    text.innerHTML = 'Time is up'
    text.style.display = "block"

    setTimeout(function() {
        text.innerHTML = '{{partner}} is rating your answer'
    }, 2000);
}

function displayQuestion(data, name) {
    // disable button of question
    disableButton = true
    document.getElementById('questionList').style = "opacity:0.5"

    // display question
    var message = data['message']
    vue.question = { "text": message }

    var display = document.getElementById('videoDisplay')
    var text = document.getElementById('questionText')
    display.style.display = "block"

    text.innerHTML = 'It\'s ' + name + ' turn to answer'
    text.style.display = "block"

    // display whose turn is it, after 2 seconds
    setTimeout(function() {
        text.innerHTML = vue.question.text

        setTimeout(function() {
            display.style.display = "none"
            text.style.display = "none"

        }, 2000);
    }, 2000);
}



function sendQuestion(question_text, question_id) {
    if (!disableButton) {
        var element = document.getElementById(question_id)
        element.classList.add("fade-out-right");
        setTimeout(function() {
            element.remove()

        }, 900);
        sendMessage(question_text, false)
    }
}

function sendMessage(text, done) {
    console.log('Sending message...')
    socket.send(JSON.stringify({
        'type': 'message',
        'receiver': partner_id,
        // 'name': '{{partner}}',
        'done': done,
        'message': text
    }));
}

function sendDone() {
    socket.send(JSON.stringify({
        'type': 'question_answered',
    }))
}

// sendRating('rating', partner_id, data['done'])
function sendRating(socketType, receiver_id, doneValue, rating) {
    socket.send(JSON.stringify({
        'type': socketType,
        'receiver': receiver_id,
        'done': doneValue,
        'rating': rating
    }));
    document.getElementById('ratingDisplay').style.display = 'none'

}

// timer
var totaltime = 5;

function update(percent) {
    var deg;
    if (percent < (totaltime / 2)) {
        deg = 90 + (360 * percent / totaltime);
        $('.pie').css('background-image',
            'linear-gradient(' + deg + 'deg, transparent 50%, white 50%),linear-gradient(90deg, white 50%, transparent 50%)'
        );
    } else if (percent >= (totaltime / 2)) {
        deg = -90 + (360 * percent / totaltime);
        $('.pie').css('background-image',
            'linear-gradient(' + deg + 'deg, transparent 50%, #00b5e8 50%),linear-gradient(90deg, white 50%, transparent 50%)'
        );
    }
}

function starttime() {
    $('#time').text = totaltime;
    var count = totaltime
    myCounter = setInterval(function() {
        count -= 1;
        if (count < 10) {
            $('#time').html('0' + count);
        } else {
            $('#time').html(count);
        }
        update(count);
        if (count == 0) {
            clearInterval(myCounter);
        }
    }, 1000);
}


function handleError(error) {
    if (error) {
        alert(error.message);
    }
}

function disconnect() {
    console.log("Disconnecting");
    session.disconnect();
    // window.history.back();
    redirect()
}

function redirect() {
    window.location.href = "/" + channel_id
}

function toogleVideo() {
    video = !video
    publisher.publishVideo(video);
}



function handleError(error) {
    if (error) {
        console.error('Received an error', error);
    }
}

function initializeSession() {

    // Subscribe to a newly created stream
    session.on('streamCreated', function streamCreated(event) {
        var subscriberOptions = {
            insertMode: 'append',
            width: '100%',
            height: '100%'
        };
        session.subscribe(event.stream, 'subscriber', subscriberOptions, handleError);
    });

    session.on("streamDestroyed", function(event) {
        session.disconnect();
        // window.history.back();
        // show modal
        vue.disconnect = true
        console.log("Stream " + event.stream.name + " ended. " + event.reason);
    });

    var publishPromise = publish();

    // Connect to the session
    session.connect(token, function callback(error) {
        if (error) {
            handleError(error);
        } else {
            publishPromise.then(function publishThen(publisher) {
                session.publish(publisher, handleError);
            }).catch(handleError);
        }
    });
}

initializeSession();

var getFilteredCanvas = function getFilteredCanvas(mediaStream) {
    var WIDTH = 640;
    var HEIGHT = 480;
    var videoEl = document.createElement('video');
    videoEl.srcObject = mediaStream;
    videoEl.setAttribute('playsinline', '');
    videoEl.muted = true;
    setTimeout(function timeout() {
        videoEl.play();
    });
    var canvas = document.createElement('canvas');
    var ctx = canvas.getContext('2d');
    canvas.width = WIDTH;
    canvas.height = HEIGHT;

    var tmpCanvas = document.createElement('canvas');
    var tmpCtx = tmpCanvas.getContext('2d');
    tmpCanvas.width = WIDTH;
    tmpCanvas.height = HEIGHT;

    videoEl.addEventListener('resize', function resize() {
        canvas.width = tmpCanvas.width = videoEl.videoWidth;
        canvas.height = tmpCanvas.height = videoEl.videoHeight;
    });

    var reqId;

    // Draw each frame of the video
    var drawFrame = function drawFrame() {
        // Draw the video element onto the temporary canvas and pull out the image data
        tmpCtx.drawImage(videoEl, 0, 0, tmpCanvas.width, tmpCanvas.height);
        var imgData = tmpCtx.getImageData(0, 0, tmpCanvas.width, tmpCanvas.height);
        // Apply the currently selected filter and get the new image data
        imgData = Filters.selectedFilter(imgData);
        // Draw the filtered image data onto the main canvas
        ctx.putImageData(imgData, 0, 0);

        reqId = requestAnimationFrame(drawFrame);
    };

    reqId = requestAnimationFrame(drawFrame);

    return {
        canvas: canvas,
        stop: function stop() {
            // Stop the video element, the media stream and the animation frame loop
            videoEl.pause();
            if (mediaStream.stop) {
                mediaStream.stop();
            }
            if (MediaStreamTrack && MediaStreamTrack.prototype.stop) {
                // Newer spec
                mediaStream.getTracks().forEach(function each(track) { track.stop(); });
            }
            cancelAnimationFrame(reqId);
        }
    };
};

// Returns a Promise to a Publisher
function publish() {
    // Request access to the microphone and camera
    return OT.getUserMedia().then(function gotMedia(mediaStream) {
        var filteredCanvas = getFilteredCanvas(mediaStream);

        var publisherOptions = {
            insertMode: 'append',
            width: '100%',
            height: '100%',
            // Pass in the canvas stream video track as our custom videoSource
            videoSource: filteredCanvas.canvas.captureStream(30).getVideoTracks()[0],
            // Pass in the audio track from our underlying mediaStream as the audioSource
            audioSource: mediaStream.getAudioTracks()[0]
        };
        return new Promise(function promise(resolve, reject) {
            publisher = OT.initPublisher('publisher', publisherOptions, function initComplete(err) {
                if (err) {
                    filteredCanvas.stop();
                    reject(err);
                } else {
                    resolve(publisher);
                }
            });
            publisher.on('destroyed', function destroyed() {
                // When the publisher is destroyed we cleanup
                filteredCanvas.stop();
            });

            // We insert the canvas into the publisher element on iOS because the video element
            // just stays black otherwise because of a bug https://bugs.webkit.org/show_bug.cgi?id=181663
            if (navigator.userAgent.indexOf('iPhone OS') > -1) {
                publisher.on('videoElementCreated', function videoElementCreated(event) {
                    event.element.parentNode.insertBefore(filteredCanvas.canvas, event.element);
                    filteredCanvas.canvas.style.width = '100%';
                    filteredCanvas.canvas.style.height = '100%';
                    filteredCanvas.canvas.style.position = 'absolute';
                    filteredCanvas.canvas.style.zIndex = 1;
                    filteredCanvas.canvas.style.objectFit = window.getComputedStyle(event.element).objectFit;
                });
            }
        });
    });
};

var Filters = {
    none: function none(imgData) {
        return imgData;
    },

    grayscale: function grayscale(imgData) {
        const res = new Uint8ClampedArray(imgData.data.length);
        for (let i = 0; i < imgData.data.length; i += 4) {
            // Using the luminosity algorithm for grayscale 0.21 R + 0.72 G + 0.07 B
            // https://www.johndcook.com/blog/2009/08/24/algorithms-convert-color-grayscale/
            var inputRed = imgData.data[i];
            var inputGreen = imgData.data[i + 1];
            var inputBlue = imgData.data[i + 2];
            res[i] = res[i + 1] = res[i + 2] = Math.round(0.21 * inputRed + 0.72 * inputGreen + 0.07 * inputBlue);
            res[i + 3] = imgData.data[i + 3];
        }
        return new ImageData(res, imgData.width, imgData.height);
    },

    sepia: function sepia(imgData) {
        const res = new Uint8ClampedArray(imgData.data.length);
        for (let i = 0; i < imgData.data.length; i += 4) {
            // Using the algorithm for sepia from:
            // https://www.techrepublic.com/blog/how-do-i/how-do-i-convert-images-to-grayscale-and-sepia-tone-using-c/
            var inputRed = imgData.data[i];
            var inputGreen = imgData.data[i + 1];
            var inputBlue = imgData.data[i + 2];
            res[i] = Math.round((inputRed * 0.393) + (inputGreen * 0.769) + (inputBlue * 0.189));
            res[i + 1] = Math.round((inputRed * 0.349) + (inputGreen * 0.686) + (inputBlue * 0.168));
            res[i + 2] = Math.round((inputRed * 0.272) + (inputGreen * 0.534) + (inputBlue * 0.131));
            res[i + 3] = imgData.data[i + 3];
        }
        return new ImageData(res, imgData.width, imgData.height);
    },

    invert: function invert(imgData) {
        const res = new Uint8ClampedArray(imgData.data.length);
        for (let i = 0; i < imgData.data.length; i += 4) {
            // Invert the colors red = 255 - inputRed etc.
            res[i] = 255 - imgData.data[i];
            res[i + 1] = 255 - imgData.data[i + 1];
            res[i + 2] = 255 - imgData.data[i + 2];
            res[i + 3] = imgData.data[i + 3]; // Leave alpha alone
        }
        return new ImageData(res, imgData.width, imgData.height);
    },
    blur: function stackBlurImage(imageID, canvasID, radius, blurAlphaChannel) {
        var img = document.getElementById(imageID);
        var w = img.naturalWidth;
        var h = img.naturalHeight;

        var canvas = document.getElementById(canvasID);

        canvas.style.width = w + "px";
        canvas.style.height = h + "px";
        canvas.width = w;
        canvas.height = h;

        var context = canvas.getContext("2d");
        context.clearRect(0, 0, w, h);
        context.drawImage(img, 0, 0);

        if (isNaN(radius) || radius < 1) return;

        if (blurAlphaChannel)
            stackBlurCanvasRGBA(canvasID, 0, 0, w, h, radius);
        else
            stackBlurCanvasRGB(canvasID, 0, 0, w, h, radius);
    }
};
// Set the initial filter to none
Filters.selectedFilter = Filters.none;

// When the filter selector changes we update the selectedFilter
var filterSelector = document.querySelector('#filter');
filterSelector.addEventListener('change', function change() {
    Filters.selectedFilter = Filters[filterSelector.value];
});
</script>
{% endblock %}