{% extends 'minutetalk/home.html' %} {% block content %} {% load static %}
<v-content>
    <v-container class="videoarea" fluid fill-height>
        <div id="videos">
            <div id="subscriber">
                <h1 style="color: white; position: absolute; z-index: 1;
                padding-top: 15px;" id="questionDisplay"></h1>
            </div>
            <div id="publisher"></div>
            <!-- <v-list>
                <v-list-tile two-line :key="user.name" class="chatname">
                    <v-list-tile-avatar size="40px">
                        <img :src="otheruser.avatar">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title class="otherusername"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list> -->
                            <button onclick="disconnect()"> DISCONNECT</button>

            <v-spacer></v-spacer>
        </div>
        <v-container class="questions">

                <div class="pie degree" style="margin-left: 150px;">
                    <span class="block"></span>
                    <span id="time">5</span>
                </div> 

            <div class="question">
                <v-navigation-drawer style="width: 100%">
                     <v-list class="questionlist" two-line>
                        <v-subheader>MY QUESTIONS</v-subheader> 
                        <div id="question">
                        {% for question in questions_list%}

                        <v-list-tile  id="{{question.id}}" ripple onclick="sendQuestion('{{question.text}}','{{question.id}}')">
                            <v-list-tile-content>
                                    <p class="myquestion" >{{question.text}}</p>
                                    
                            </v-list-tile-content>
                            <v-list-tile-avatar size="38px">
                                <img src="/media/{{user.userprofile.img_src}}">
                            </v-list-tile-avatar>
                        </v-list-tile>
                        {% endfor %}
                        </div>
                        <v-divider></v-divider>

                        <v-subheader>CURRENT QUESTION</v-subheader>
                        <v-list-tile v-if="question" two-line> 
                            <!-- <v-list-tile-avatar size='30px'>
                                <img src='/media/{{partner.img_src}}'>
                            </v-list-tile-avatar> -->
                            
                            <v-list-tile-content >
                                <!-- <small class='timedisplay'> [[question.time]] </small>  -->
                                <v-list-tile-title class='myquestion'> [[question.text]] </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                    </v-list>
                </v-navigation-drawer>
            </div>
        </v-container>
    </v-container>
</v-content>
{% endblock %} 
{% block js %}
<script>
var apiKey = '{{ apikey }}'
var sessionId = '{{ session_id }}'
var token = '{{ token }}'
var partner_id = '{{ partner.id }}'

var endpoint = 'ws://' + window.location.host + '/videochat/' + sessionId;
var socket = new WebSocket(endpoint)
var disableButton = false
var answeredQuestion = false

window.onload = function() {
    socket.onmessage = function(e) {
        var data = JSON.parse(e.data)['message']
        if (data['type'] == 'message'){

            if (data['receiver'] == '{{request.user.userprofile.id}}') {
                if(!answeredQuestion){
                    displayQuestion(data, 'YOUR')
                    totaltime = 5
                    setTimeout(function(){
                        console.log('start time')
                        starttime()
                        setTimeout(function(){
                            answeredQuestion = true 
                            displayTimeEnd()
                            setTimeout( function() {


                                if(!data['done']) {
                                    sendMessage(vue.question.text, true)
                                } else {
                                    sendDone()
                                }
                            } , 2000);

                        }, totaltime * 1000);    
                    }, 4000);
                } else {
                    sendDone()
                }
            } else {
                displayQuestion(data, data['name'])
            }
        }
        else if (data['type'] == 'question_answered'){
            console.log("Question is already answered")
            answeredQuestion = false
            disableButton = false
            document.getElementById('question').style="opacity:1"
        } 
    }
    socket.onopen = function(e) {
        console.log("open", e)
    }
    socket.onerror = function(e) {
        console.log("error", e)
    }
    socket.onclose = function(e) {
        console.log("close", e)
    }
}
function displayTimeEnd(){
   var display = document.getElementById('questionDisplay')
    document.getElementById('question').style="opacity:0.5"
    display.innerHTML = 'Time is up'
    setTimeout(function(){
        display.innerHTML = ''
    }, 2000);
}

function displayQuestion(data, name){
    // disable button of question
    disableButton = true

    // display question
    var message = data['message']
    vue.question = {"text": message}
    var display = document.getElementById('questionDisplay')
    document.getElementById('question').style="opacity:0.5"
    display.innerHTML = vue.question.text

    // display whose turn is it, after 2 seconds
    setTimeout(function(){
        display.innerHTML = 'It\'s ' + name + ' turn to answer'
        setTimeout(function(){
            display.innerHTML = ''
            console.log('display end')

        }, 2000);
    }, 2000);
}

function sendQuestion(question_text, question_id) {
    if(!disableButton){
        var element = document.getElementById(question_id)
        element.classList.add("fade-out-right");
        setTimeout(function(){
            element.remove()

        }, 900); 
        sendMessage(question_text, false)
    }
}

function sendMessage(text, done) {
    console.log('Sending message...')
    socket.send(JSON.stringify({
        'type': 'message',
        'receiver': partner_id,
        'name': '{{partner}}',
        'done': done,
        'message': text
    }));
}

function sendDone(){
    socket.send(JSON.stringify({
        'type': 'question_answered',
    }))
}

var totaltime = 5;
function update(percent) {
    var deg;
    if (percent < (totaltime / 2)) {
        deg = 90 + (360 * percent / totaltime);
        $('.pie').css('background-image',
            'linear-gradient(' + deg + 'deg, transparent 50%, white 50%),linear-gradient(90deg, white 50%, transparent 50%)'
        );
    } else if (percent >= (totaltime / 2)) {
        deg = -90 + (360 * percent / totaltime);
        $('.pie').css('background-image',
            'linear-gradient(' + deg + 'deg, transparent 50%, #00b5e8 50%),linear-gradient(90deg, white 50%, transparent 50%)'
        );
    }
}

function starttime(){
    $('#time').text = totaltime;
    var count = totaltime
    myCounter = setInterval(function () {
        count -= 1;
        if(count<10){
          $('#time').html('0'+count);
        }
        else{
          $('#time').html(count);
        }
        update(count);
        if (count == 0) {
            clearInterval(myCounter);            
        }
    }, 1000);    
}


function handleError(error) {
    if (error) {
        alert(error.message);
    }
}

function disconnect() {
    deleteSession()
    session.disconnect();
    window.history.back();
}

var session = OT.initSession(apiKey, sessionId);

function initializeSession() {
    // Subscribe to a newly created stream
    session.on('streamCreated', function(event) {
        session.subscribe(event.stream, 'subscriber', {
            insertMode: 'append',
            width: '100%',
            height: '100%'
        }, handleError);
    });
    
    // Listener for diconnected streams
    session.on("streamDestroyed", function(event) {
        deleteSession();
        session.disconnect();
        window.history.back();
        console.log("Stream " + event.stream.name + " ended. " + event.reason);
    });

    // Create a publisher
    var publisher = OT.initPublisher('publisher', {
        insertMode: 'append',
        width: '100%',
        height: '100%'
    }, handleError);

    // Connect to the session
    session.connect(token, function(error) {
        // If the connection is successful, publish to the session
        if (error) {
            handleError(error);
        } else {
            session.publish(publisher, handleError);
        }
    });
}

function deleteSession(){
    $.ajax({
        url: '/ajax/delete_session',
        data: {
        },
        success: response => {
        }
    })
}
// (optional) add server code here
initializeSession();
</script>
{% endblock %}